.background{
    background-image: url('/jumbo-back.jpg');
    background-size:cover;
}

.no-margin{
    margin:0;
}

#pop {
    zoom: 1.1;
    z-index: 100;
    top: -20px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.strike {
    text-decoration: line-through;
}