<div class="container-fluid no-margin no-gutter">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center">Status</th>
            <th class="text-center">Task</th>
            <th class="text-center">Due Date</th>
            <th class="text-center">Importance</th>
        </tr>
        </thead>
        <tbody>
        <tr id="pop">
            <td> </td>
            <td>
                <input type="text" placeholder="Task" ng-model="ctrl.taskList.task">
            </td>
            <td>
                <input type="date" id="dueDate" name="dueDate"
                       ng-model="ctrl.taskList.dueDate" min="{{ctrl.todate | date: 'yyyy-MM-dd'}}">
            </td>
            <td>
                <input type="radio" name="urgency" value="Critical" ng-model="ctrl.taskList.urgency" required> Critical<br>
                <input type="radio" name="urgency" value="Important" ng-model="ctrl.taskList.urgency" required> Important<br>
                <input type="radio" name="urgency" value="Normal" ng-model="ctrl.taskList.urgency" required> Normal<br>
            </td>
            <td>
                <!--<button type="submit">Add</button>-->
                <div class="col-xs-2">
                    <button type="button" ng-click="ctrl.addToDo()" ng-disabled="ctrl.taskList.task.length<=0">Add</button>
                </div>
            </td>
        </tr>

        <tr ng-repeat="row in ctrl.taskListArray" >
            <td><input type="checkbox" ng-model="ctrl.deleted" ></td>
            <td>{{row.task}}</td>
            <td>{{row.dueDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{row.urgency}}</td>
        </tr>

        </tbody>
    </table>
</div>

<div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.success"
     ng-class="{'alert-success': ctrl.status.success == 'ok', 'alert-danger': ctrl.status.success == 'error' }">

    <button class="close" data-dismiss="alert">
        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
        &times;
    </button>

    {{ ctrl.status.message }}

</div>

