
<div class="row">
    <div class="col-md-8">
        <h2>Things Get Done</h2>
    </div>
    <div class="col-md-4">

        <form name="UploadImg" novalidate ng-submit="ctrl.upload()" autocomplete="off">

            <div class="form-group">
                <img ngf-thumbnail="ctrl.imgFile" class="img-thumbnail">
            </div>

            <div class="form-group">
                <input id="file" type="file" ng-model="ctrl.imgFile" ngf-select accept="image/*">
            </div>

            <div class="form-group">
                <button type="submit">Update</button>
            </div>

            <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
                 ng-class="{'alert-success': ctrl.status.code == 202, 'alert-danger': ctrl.status.code == 400 }">
                <button class="close" data-dismiss="alert">
                    <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                    &times;
                </button>
                {{ ctrl.status.message }}
            </div>

        </form>
    </div>
</div>